<iframe width="560" height="315" src="https://www.youtube.com/embed/r4ldFNY05DE?si=LS01l19iXhFaCBk-" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

<a href="javascript:void(0)" navi_target data-url="?page=settings" class="mii-icon home-btn">
    <img src="/img/no-image.png">
</a>

<a href="javascript:void(0)" navi_target class="help-button home-btn">
</a>

<a href="javascript:void(0)" navi_target class="exit-button home-btn">
</a>

<input type="text" vino_ok_text="Search" navi_target navi_no_reset maxlength="250" class="search-bar accesskey-y"></input>

<a href="javascript:void(0)" navi_target navi_no_reset class="remote-button home-btn">
</a>

<div class="home-buttons">

    <a href="javascript:void(0)" navi_target data-url="?page=tvtag_tagline&program_id=108492&episode_id=5601440" class="favorites-icon">
        <span>Favorites</span>
    </a>

    <a href="javascript:void(0)" navi_target data-url="?page=tv" class="tv-icon">
        <span>TV</span>
    </a>

    <a href="javascript:void(0)" navi_target data-url="?page=movies" class="movies-icon">
        <span>Movies</span>
    </a>

    <a href="javascript:void(0)" navi_target data-url="?page=sports" class="sports-icon">
        <span>Sports</span>
    </a>

    <a href="javascript:void(0)" navi_target data-url="?page=tvtags" class="tvtag-icon">
        <span>TV Tag</span>
    </a>

    <div class="premiere none">
        <a href="javascript:void(0)">
        </a>
        <marquee>What the sigma - Premieres Now</marquee>
    </div>

</div>

<div class="help-modal none">
    <a href="javascript:void(0)" navi_target class="exit-modal accesskey-b exit-help home-btn"></a>

    <div class="help-container container">
        <a href="javascript:void(0)" navi_target class="card">
            <img src="/img/placeholder.png">
            <span>Introduction to Nintendo TVii</span>
        </a>
        <a href="javascript:void(0)" navi_target class="card">
            <img src="/img/placeholder.png">
            <span>Set-Up</span>
        </a>
        <a href="javascript:void(0)" navi_target class="card">
            <img src="/img/placeholder.png">
            <span>Starting a program</span>
        </a>
        <a href="javascript:void(0)" navi_target class="card">
            <img src="/img/placeholder.png">
            <span>Enjoying TV Tag</span>
        </a>
        <a href="javascript:void(0)" navi_target class="card">
            <img src="/img/placeholder.png">
            <span>Using the Nintendo TVii Remote Control</span>
        </a>
        <a href="javascript:void(0)" navi_target class="card">
            <img src="/img/placeholder.png">
            <span>Changing the User</span>
        </a>
        <a href="javascript:void(0)" navi_target class="card">
            <img src="/img/manual-icon.png">
            <span>Nintendo TVii Manual</span>
        </a>
    </div>
</div>