<main class="manual manualBody">
    <div class="manual">
        <header class="manual-header">
            <span class="header">Nintendo TVii</span>
        </header>

        <div class="manual-listing">
            <a href="javascript:void(0)" class="manual-item" data-hide=".manual-listing" data-show=".important-info" data-id="1">
                <span class="num">1</span>
                <span class="text">Important Information</span>
            </a>
            <span class="manual-theme">Getting Started</span>
            <a href="javascript:void(0)" class="manual-item" data-hide=".manual-listing" data-show=".parental-controls" data-id="2">
                <span class="num gr">2</span>
                <span class="text">Parental Controls</span>
            </a>
            <a href="javascript:void(0)" class="manual-item" data-hide=".manual-listing" data-show=".about-tvii" data-id="3">
                <span class="num gr">3</span>
                <span class="text">About Nintendo TVii</span>
            </a>
            <span class="manual-theme blue">Setup</span>
            <a href="javascript:void(0)" class="manual-item" data-hide=".manual-listing" data-show=".tvii-controls" data-id="4">
                <span class="num bl">4</span>
                <span class="text">Controls</span>
            </a>
            <a href="javascript:void(0)" class="manual-item" data-hide=".manual-listing" data-show=".tvii-setup" data-id="5">
                <span class="num bl">5</span>
                <span class="text">Setting Up for the First Time</span>
            </a>
            <span class="manual-theme yel">Basic Information</span>

            <a href="javascript:void(0)" class="manual-exit" data-url="?page=home"><span>Close</span></a>
        </div>
    </div>

    <div class="manual-modal important-info none">
        <span>this is important</span>

        <a href="javascript:void(0)" class="manual-back"><span>Back</span></a>
    </div>

    <div class="manual-modal parental-controls none">
        <span>stuff for parents</span>

        <a href="javascript:void(0)" class="manual-back"><span>Back</span></a>
    </div>

    <div class="manual-modal about-tvii none">
        <span>stuff about tvii</span>

        <a href="javascript:void(0)" class="manual-back"><span>Back</span></a>
    </div>

    <div class="manual-modal tvii-controls none">
        <span>tvii's controls</span>

        <a href="javascript:void(0)" class="manual-back"><span>Back</span></a>
    </div>

    <div class="manual-modal tvii-setup none">
        <span>tvii setup</span>

        <a href="javascript:void(0)" class="manual-back"><span>Back</span></a>
    </div>
</main>