<a href="javascript:void(0)" navi_target class="back-button accesskey-b home-btn">
</a>

<a href="javascript:void(0)" navi_target class="home-top home-btn">
</a>

<a href="javascript:void(0)" navi_target navi_no_reset class="remote-button home-btn">
</a>

<a href="javascript:void(0)" navi_target navi_no_reset class="favorite-btn home-btn">
    <span>Add as Favorite</span>
</a>

<div class="tab-container with-dropdown-float">

    <div class="dropdown-container" id="season-dropdown">
        <a href="javascript:void(0)" navi_target navi_no_reset data-toggle="dropdown" class="tab-label">Available
            Episodes
            <span class="current none"></span>
        </a>

        <ul class="dropdown-menu none">
            <li>
                <a href="javascript:void(0)" navi_target data-season="schedule" class="tab-label">Schedule</a>
            </li>
            <li>
                <a href="javascript:void(0)" navi_target data-season="upcoming" class="tab-label">New Episodes To Release</a>
            </li>
        </ul>
    </div>

    
    <div class="dropdown-container" id="cast-dropdown">
        <a href="javascript:void(0)" navi_target navi_no_reset data-toggle="dropdown" class="tab-label">Cast
            <span class="current none"></span>
        </a>

        <ul class="dropdown-menu none">
            <li>
                <a href="javascript:void(0)" navi_target data-season="cast-latest" class="tab-label">Current Cast</a>
                <a href="javascript:void(0)" navi_target data-season="cast-all" class="tab-label">All Cast</a>
            </li>
        </ul>
    </div>

    <a href="javascript:void(0)" navi_target navi_no_reset data-season="info" class="tab-label">Show Info</a>
</div>

<div class="program-view">
    <h1 class="program-title-big"></h1>

    <div class="program-view-episodes program-container l-stick-scroll container none">
        <div class="program-poster">
            <img src="/img/no-image.png">
        </div>
        
        <div class="episodes">

        </div>
        
    </div>

    <div class="program-view-info l-stick-scroll container none">
        <div class="program-poster">
            <img src="/img/no-image.png">
        </div>

        <div class="info">
            <h1></h1>
            <div class="metadata">
                <span class="score"></span>
                <span class="year"></span>
                <a href="javascript:void(0)" navi_target class="trailer none">Watch Trailer</a>
                <a href="javascript:void(0)" navi_target class="website none">Website</a>
            </div>
            <p1></p1>
        </div>
    </div>

    <div class="program-view-actors l-stick-scroll container none">
    </div>

    <div class="program-view-trailer none">
        <a href="javascript:void(0)" navi_target class="exit-modal accesskey-b home-btn">
        </a>
        <marquee></marquee>
    </div>

</div>
