<div class="remote-control none">
    <a href="javascript:void(0)" navi_target class="exit-modal accesskey-b exit-remote-control home-btn">
    </a>
    <div class="remote-content">
        <div class="channel-scroll">
            <a href="javascript:void(0)" navi_target navi_no_reset data-ir-code="520" class="channel tune-in none">
                <img src="/img/no-image.png">
                <span class="reminder">Starts in 30 minutes</span>
                <div class="content">
                    <span class="name">Futurama</span>
                    <span class="episode">Planet Espresso S9:E7</span>
                </div>
                <span class="tune-text">Tune</span>
            </a>
            <a href="javascript:void(0)" navi_target navi_no_reset data-ir-code="200" class="channel">
                <img src="https://zap2it.tmsimg.com/h3/NowShowing/20453/s28708_ll_h15_ac.png?w=100">
                <span class="ch-num">WABCDT 4</span>
            </a>
            <a href="javascript:void(0)" navi_target navi_no_reset class="channel add-favorites">
            </a>
        </div>

        <div class="remote-buttons">
            <div class="ch-change">
                <a href="javascript:void(0)" navi_target navi_no_reset class="up">UP</a>
                <span>CH</span>
                <a href="javascript:void(0)" navi_target navi_no_reset class="down">DOWN</a>
            </div>

            <div class="num-change">
                <a href="javascript:void(0)" navi_target navi_no_reset>1</a>
                <a href="javascript:void(0)" navi_target navi_no_reset>2</a>
                <a href="javascript:void(0)" navi_target navi_no_reset>3</a>
                <a href="javascript:void(0)" navi_target navi_no_reset>4</a>
                <a href="javascript:void(0)" navi_target navi_no_reset>5</a>
                <a href="javascript:void(0)" navi_target navi_no_reset>6</a>
                <a href="javascript:void(0)" navi_target navi_no_reset>7</a>
                <a href="javascript:void(0)" navi_target navi_no_reset>8</a>
                <a href="javascript:void(0)" navi_target navi_no_reset>9</a>
                <a href="javascript:void(0)" navi_target navi_no_reset>.</a>
                <a href="javascript:void(0)" navi_target navi_no_reset>0</a>
                <a href="javascript:void(0)" navi_target navi_no_reset>-</a>
            </div>

            <div class="guide-change">
                <a href="javascript:void(0)" navi_target navi_no_reset class="source">Source</a>
                <a href="javascript:void(0)" navi_target navi_no_reset class="guide">Guide</a>
                <a href="javascript:void(0)" navi_target navi_no_reset class="ok">OK</a>
                <a href="javascript:void(0)" navi_target navi_no_reset class="power-tv">TV</a>
                <a href="javascript:void(0)" navi_target navi_no_reset class="power-cable">Cable</a>

                <a href="javascript:void(0)" navi_target navi_no_reset class="top">TOP</a>
                <a href="javascript:void(0)" navi_target navi_no_reset class="bottom">BOTTOM</a>
                <a href="javascript:void(0)" navi_target navi_no_reset class="left">LEFT</a>
                <a href="javascript:void(0)" navi_target navi_no_reset class="right">RIGHT</a>
            </div>

            <div class="vol-change">
                <a href="javascript:void(0)" navi_target navi_no_reset class="up">UP</a>
                <span>VOL</span>
                <a href="javascript:void(0)" navi_target navi_no_reset class="down">DOWN</a>
            </div>

        </div>
    </div>
</div>