<a href="javascript:void(0)" navi_target class="back-button accesskey-b home-btn">
</a>

<a href="javascript:void(0)" navi_target class="home-top home-btn">
</a>

<a href="javascript:void(0)" navi_target navi_no_reset class="remote-button home-btn">
</a>

<div class="tab-container">
    <a href="javascript:void(0)" navi_target navi_no_reset data-section="settings" class="tab-label">Settings</a>
    <!-- <a href="javascript:void(0)" navi_target navi_no_reset data-section="tools" class="tab-label">Profile</a> -->
    <a href="javascript:void(0)" navi_target navi_no_reset data-section="about" class="tab-label">About</a>
</div>

<div class="settings-container container l-stick-scroll none">

    <a href="javascript:void(0)" navi_target class="mii-body">
        <img src="/img/no-image.png">
        <span></span>
    </a>

    <div class="settings-buttons">
        <a href="javascript:void(0)" navi_target class="favorite-set-btn">Favorite Channels</a>
        <a href="javascript:void(0)" navi_target class="streaming-btn">Streaming Platforms</a>
        <a href="javascript:void(0)" navi_target class="social-btn">Social Platforms</a>
        <br>
        <a href="javascript:void(0)" navi_target class="manual-btn">Your TV Provider</a>
        <a href="javascript:void(0)" navi_target class="parental-btn">Parental Controls</a>
        <a href="javascript:void(0)" navi_target class="setup-btn">Setup Wizard</a>
    </div>

</div>

<div class="tools-container container l-stick-scroll none">

    <a href="javascript:void(0)" navi_target class="mii-body">
        <img src="/img/no-image.png">
        <span></span>
    </a>

    <div class="tools-buttons">
        <a href="javascript:void(0)" navi_target class="prset-btn">Profile Settings</a>
        <a href="javascript:void(0)" navi_target class="news-btn">Alerts</a>
        <a href="javascript:void(0)" navi_target class="music-btn">Detect Music</a>
        <br>
        <a href="javascript:void(0)" navi_target class="heat-btn">Play Leaderboard</a>
        <a href="javascript:void(0)" navi_target class="theme-btn">Theme Store</a>
        <a href="javascript:void(0)" navi_target class="art-btn">Drawing Album</a>
    </div>

</div>

<div class="about-container none">

    <img class="vino-logo" src="/img/tvii_logo.png">
    <span class="vino-version">Project Rosè 1.0.0US</span>

    <div class="credits-container container l-stick-scroll">

        <a href="javascript:void(0)" navi_target class="card">
            <img src="/img/TheMovieDBLogo.png">
            <span>TheMovieDB.org API used for listing all programs/movies/actors data.</span>
        </a>

        <a href="javascript:void(0)" navi_target class="card">
            <img src="/img/Zap2it_logo.png">
            <span>Zap2It API used for listing providers and cable TV listings for US/Canada</span>
        </a>

        <a href="javascript:void(0)" navi_target class="card">
            <img src="/img/credit-card-2.png">
            <span>David Joaq for developing the web client, JavaScript, CSS, and HTML.</span>
        </a>

        <a href="javascript:void(0)" navi_target class="card">
            <img src="/img/credit-card-3.png">
            <span>bl for making the memory patches for Project Rose to restore the Nintendo TVii button on the Wii U
                Menu/HBM.</span>
        </a>

        <a href="javascript:void(0)" navi_target class="card">
            <img src="/img/credit-card-5.png">
            <span>SkyeDoesThings for hosting the server where this current instance of Nintendo TVii runs.</span>
        </a>

        <a href="javascript:void(0)" navi_target class="card">
            <img src="/img/credit-card-4.png">
            <span>Miguel for administrating server and miscellaneous.</span>
        </a>

        <a href="javascript:void(0)" navi_target class="card">
            <img src="/img/credit-card-1.png">
            <span>Jack for hosting the a instance of this server.</span>
        </a>

        <a href="javascript:void(0)" navi_target class="card">
            <img src="/img/credit-card-1.png">
            <span>Devin LuBean for designing the original interface of Nintendo TVii that was redesigned for this
                instance.</span>
        </a>

    </div>

    <span class="copyright">All promotional photographs and artwork, as well as celebrity images are the respective
        property of their owners and are used solely for the purpose of promoting associated TV and movie programs.
        This project is not affiliated with Nintendo or i.TV in any way.</span>
</div>