<main>
    <a href="javascript:void(0)" navi_target class="back-button accesskey-b home-btn"></a>
    </a>

    <a href="javascript:void(0)" navi_target class="home-top home-btn">
    </a>

    <a href="javascript:void(0)" navi_target navi_no_reset class="remote-button home-btn">
    </a>

    <div class="tab-container">

        <div class="dropdown-container" id="nfl-dropdown">
            <a href="javascript:void(0)" navi_target navi_no_reset data-toggle="dropdown" class="tab-label">NFL
                <span class="current none"></span>
            </a>

            <ul class="dropdown-menu none">
                <li>
                    <a href="javascript:void(0)" navi_target data-section="nfl-1" class="tab-label">All</a>
                </li>
            </ul>
        </div>

        <div class="dropdown-container" id="nba-dropdown">
            <a href="javascript:void(0)" navi_target navi_no_reset data-toggle="dropdown" class="tab-label">NBA
                <span class="current none"></span>
            </a>

            <ul class="dropdown-menu none">
                <li>
                    <a href="javascript:void(0)" navi_target data-section="nba-1" class="tab-label">All</a>
                </li>
            </ul>
        </div>

        <div class="dropdown-container" id="mlb-dropdown">
            <a href="javascript:void(0)" navi_target navi_no_reset data-toggle="dropdown" class="tab-label">MLB
                <span class="current none"></span>
            </a>

            <ul class="dropdown-menu none">
                <li>
                    <a href="javascript:void(0)" navi_target data-section="mlb-1" class="tab-label">All</a>
                    <a href="javascript:void(0)" navi_target data-section="mlb-2" class="tab-label">National League</a>
                    <a href="javascript:void(0)" navi_target data-section="mlb-3" class="tab-label">American League</a>
                </li>
            </ul>
        </div>

    </div>

    <div class="sports-container container l-stick-scroll">
        <div class="sport-game">
            <div class="home">
                <img src="https://media.api-sports.io/american-football/teams/7.png">
                <span>Detroit Lions</span>
            </div>
            <div class="away">
                <img src="https://media.api-sports.io/american-football/teams/23.png">
                <span>Seattle Seahawks</span>
            </div>
            <span class="hits">42<span><br>4th</span>29</span>
        </div>

        <div class="sport-game">
            <div class="home">
                <img src="https://media.api-sports.io/american-football/teams/7.png">
                <span>Detroit Lions</span>
            </div>
            <div class="away">
                <img src="https://media.api-sports.io/american-football/teams/23.png">
                <span>Seattle Seahawks</span>
            </div>
            <span class="hits">42<span><br>4th</span>29</span>
        </div>
        <div class="sport-game">
            <div class="home">
                <img src="https://media.api-sports.io/american-football/teams/7.png">
                <span>Detroit Lions</span>
            </div>
            <div class="away">
                <img src="https://media.api-sports.io/american-football/teams/23.png">
                <span>Seattle Seahawks</span>
            </div>
            <span class="hits">42<span><br>4th</span>29</span>
        </div>
        <div class="sport-game">
            <div class="home">
                <img src="https://media.api-sports.io/american-football/teams/7.png">
                <span>Detroit Lions</span>
            </div>
            <div class="away">
                <img src="https://media.api-sports.io/american-football/teams/23.png">
                <span>Seattle Seahawks</span>
            </div>
            <span class="hits">42<span><br>4th</span>29</span>
        </div>
        <div class="sport-game">
            <div class="home">
                <img src="https://media.api-sports.io/american-football/teams/7.png">
                <span>Detroit Lions</span>
            </div>
            <div class="away">
                <img src="https://media.api-sports.io/american-football/teams/23.png">
                <span>Seattle Seahawks</span>
            </div>
            <span class="hits">42<span><br>4th</span>29</span>
        </div>
        <div class="sport-game">
            <div class="home">
                <img src="https://media.api-sports.io/american-football/teams/7.png">
                <span>Detroit Lions</span>
            </div>
            <div class="away">
                <img src="https://media.api-sports.io/american-football/teams/23.png">
                <span>Seattle Seahawks</span>
            </div>
            <span class="hits">42<span><br>4th</span>29</span>
        </div>

        <br>
        <div class="sport-game">
            <div class="home">
                <img src="https://media.api-sports.io/american-football/teams/7.png">
                <span>Detroit Lions</span>
            </div>
            <div class="away">
                <img src="https://media.api-sports.io/american-football/teams/23.png">
                <span>Seattle Seahawks</span>
            </div>
            <span class="hits">42<span><br>4th</span>29</span>
        </div>
        <div class="sport-game">
            <div class="home">
                <img src="https://media.api-sports.io/american-football/teams/7.png">
                <span>Detroit Lions</span>
            </div>
            <div class="away">
                <img src="https://media.api-sports.io/american-football/teams/23.png">
                <span>Seattle Seahawks</span>
            </div>
            <span class="hits">42<span><br>4th</span>29</span>
        </div>
        <div class="sport-game">
            <div class="home">
                <img src="https://media.api-sports.io/american-football/teams/7.png">
                <span>Detroit Lions</span>
            </div>
            <div class="away">
                <img src="https://media.api-sports.io/american-football/teams/23.png">
                <span>Seattle Seahawks</span>
            </div>
            <span class="hits">42<span><br>4th</span>29</span>
        </div>
        <div class="sport-game">
            <div class="home">
                <img src="https://media.api-sports.io/american-football/teams/7.png">
                <span>Detroit Lions</span>
            </div>
            <div class="away">
                <img src="https://media.api-sports.io/american-football/teams/23.png">
                <span>Seattle Seahawks</span>
            </div>
            <span class="hits">42<span><br>4th</span>29</span>
        </div>
        <div class="sport-game">
            <div class="home">
                <img src="https://media.api-sports.io/american-football/teams/7.png">
                <span>Detroit Lions</span>
            </div>
            <div class="away">
                <img src="https://media.api-sports.io/american-football/teams/23.png">
                <span>Seattle Seahawks</span>
            </div>
            <span class="hits">42<span><br>4th</span>29</span>
        </div>
        <div class="sport-game">
            <div class="home">
                <img src="https://media.api-sports.io/american-football/teams/7.png">
                <span>Detroit Lions</span>
            </div>
            <div class="away">
                <img src="https://media.api-sports.io/american-football/teams/23.png">
                <span>Seattle Seahawks</span>
            </div>
            <span class="hits">42<span><br>4th</span>29</span>
        </div>

    </div>

    <span class="container-empty none">This section is not finished yet<br>Come back later!</span>
</main>