<a href="javascript:void(0)" navi_target class="back-button accesskey-b home-btn"></a>
</a>

<a href="javascript:void(0)" navi_target class="home-top home-btn">
</a>

<a href="javascript:void(0)" navi_target navi_no_reset class="remote-button home-btn">
</a>

<div class="tvtag-container">

    <ul class="tvtag-menu">
        <li>
            <a href="javascript:void(0)" navi_target navi_no_reset class="time-left">
                <canvas id="time-left-endtime" width="34" height="34" class="time"></canvas>
                <span id="time-left-span"></span>
            </a>
        </li>
        <li>
            <div class="dropdown-container" id="tune-stations">
                <a href="javascript:void(0)" navi_target data-toggle="dropdown" navi_no_reset class="tune">
                    <span>Tune</span>
                </a>
                <ul class="dropdown-menu none">
                    <li>
                        <span>WNYWDT</span>
                        <a href="javascript:void(0)" class="tune-button">
                            Tune 5
                        </a>
                    </li>
                    <li>
                        <span>WNYWDT</span>
                        <a href="javascript:void(0)" class="tune-button">
                            Tune 5
                        </a>
                    </li>
                    <li>
                        <span>WNYWDT</span>
                        <a href="javascript:void(0)" class="tune-button">
                            Tune 5
                        </a>
                    </li>
                    <li>
                        <span>WNYWDT</span>
                        <a href="javascript:void(0)" class="tune-button">
                            Tune 5
                        </a>
                    </li>
                    <li>
                        <span>WNYWDT</span>
                        <a href="javascript:void(0)" class="tune-button">
                            Tune 5
                        </a>
                    </li>
                    <li>
                        <span>WNYWDT</span>
                        <a href="javascript:void(0)" class="tune-button">
                            Tune 5
                        </a>
                    </li>
                    <li>
                        <span>WNYWDT</span>
                        <a href="javascript:void(0)" class="tune-button">
                            Tune 5
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <li>
            <a href="javascript:void(0)" navi_target navi_no_reset class="input">
                <span>TV Input</span>
            </a>
        </li>
        <li>
            <a href="javascript:void(0)" navi_target navi_no_reset class="fav">
                <span>Favorite</span>
            </a>
        </li>
        <li>
            <a href="javascript:void(0)" navi_target navi_no_reset class="tagline selected">
                <span>Tagline</span>
            </a>
        </li>
        <li>
            <a href="javascript:void(0)" navi_target navi_no_reset class="play">
                <span>Play</span>
            </a>
        </li>
    </ul>

    <div class="container tvtag-taglines l-stick-scroll">
        <div class="left">
            <div class="moment">
                <div class="meta">
                    <span class="comments">20</span>
                </div>

                <img src="/img/tvtagtest1.png">
                <div class="content">
                    <p>Phineas and Ferb think of ideas as for what to do on these vacations</p>
                </div>
                <a navi_target href="javascript:void(0)" class="emotes">20</a>
                <a navi_target href="javascript:void(0)" data-url="?page=tvtag_moment"></a>
            </div>

            <div class="moment">
                <div class="meta">
                    <span class="comments">1220</span>
                </div>

                <img src="/img/tvtagtest2.png">
                <div class="content">
                    <p>Phineas remembers his experience at an roller coaster and calls it "unamusing"</p>
                </div>
                <a navi_target href="javascript:void(0)" class="emotes">0</a>
                <a navi_target href="javascript:void(0)" data-url="?page=tvtag_moment"></a>
            </div>

            <div class="moment">
                <div class="meta">
                    <span class="comments">20</span>
                </div>

                <img src="/img/tvtagtest1.png">
                <div class="content">
                    <p>Phineas and Ferb think of ideas as for what to do on these vacations</p>
                </div>


                <form class="emojis-dropdown" id="234234">
                    <input type="radio" name="234234-1" value="1">
                    <input type="radio" name="234234-1" value="2">
                    <input type="radio" name="234234-1" value="3">
                    <input type="radio" name="234234-1" value="4">
                    <input type="radio" name="234234-1" value="5">
                    <input type="radio" name="234234-1" value="6">
                </form>

                <a navi_target href="javascript:void(0)" class="emotes">0</a>
                <a navi_target href="javascript:void(0)" data-url="?page=tvtag_moment"></a>
            </div>


            <div class="predict correct">
                <span class="timeleft">
                    <span>30</span>
                </span>
                <span>You were right - Earned 150 points</span>
                <p>Is Milo Murphys Law better than Phineas and Ferb?</p>
                <form id="269052">
                    <label navi_target class="correct-vote disabled">
                        <input type="radio" checked name="269052-1" value="1">
                        <span>Hell yeah!</span>
                        <span class="votes">
                            10%
                        </span>
                    </label>
                    <label navi_target class="disabled">
                        <input type="radio" name="269052-1" value="2">
                        <span>Hell No!</span>
                        <span class="votes">
                            100%
                        </span>
                    </label>
                    <label navi_target class="disabled">
                        <input type="radio" name="269052-1" value="3">
                        <span>Its Worse</span>
                        <span class="votes">
                            62%
                        </span>
                    </label>
                    <label navi_target class="disabled">
                        <input type="radio" name="269052-1" value="4">
                        <span>I hate Milo</span>
                        <span class="votes">
                            18%
                        </span>
                    </label>
                </form>
            </div>

            <div class="moment">
                <div class="meta">
                    <span class="comments">1220</span>
                </div>

                <img src="/img/tvtagtest2.png">
                <div class="content">
                    <p>Phineas remembers his experience at an roller coaster and calls it "unamusing"</p>
                </div>
                <a navi_target href="javascript:void(0)" class="emotes">230</a>
                <a navi_target href="javascript:void(0)" data-url="?page=tvtag_moment"></a>
            </div>

            <div class="moment">
                <div class="meta">
                    <span class="comments">1220</span>
                </div>

                <img src="/img/tvtagtest2.png">
                <div class="content">
                    <p>Phineas remembers his experience at an roller coaster and calls it "unamusing"</p>
                </div>
                <a navi_target href="javascript:void(0)" class="emotes">12</a>
                <a navi_target href="javascript:void(0)" data-url="?page=tvtag_moment"></a>
            </div>

            <div class="moment">
                <div class="meta">
                    <span class="comments">1220</span>
                </div>

                <img src="/img/tvtagtest2.png">
                <div class="content">
                    <p>Phineas remembers his experience at an roller coaster and calls it "unamusing"</p>
                </div>
                <a navi_target href="javascript:void(0)" class="emotes">32</a>
                <a navi_target href="javascript:void(0)" data-url="?page=tvtag_moment"></a>
            </div>

            <div class="predict normal long">
                <span class="timeleft">
                    <span>30</span>
                </span>
                <span>Predict - 30 seconds left</span>
                <p>Will Doofenshmirtz invention fail for the 243423th time?</p>
                <form id="264252">
                    <label navi_target>
                        <input type="radio" name="264252-1" value="1">
                        <span>Yes, its totally failing</span>
                        <span class="votes">
                        </span>
                    </label>
                    <label navi_target>
                        <input type="radio" name="264252-1" value="2">
                        <span>I feel this time he will win</span>
                        <span class="votes">
                        </span>
                    </label>
                </form>
            </div>

            <div class="moment">
                <div class="meta">
                    <span class="comments">20</span>
                </div>

                <img src="/img/tvtagtest1.png">
                <div class="content">
                    <p>Phineas and Ferb think of ideas as for what to do on these vacations</p>
                </div>
                <a navi_target href="javascript:void(0)" class="emotes">520</a>
                <a navi_target href="javascript:void(0)" data-url="?page=tvtag_moment"></a>
            </div>

            <div class="moment">
                <div class="meta">
                    <span class="comments">1220</span>
                </div>

                <img src="/img/tvtagtest2.png">
                <div class="content">
                    <p>Phineas remembers his experience at an roller coaster and calls it "unamusing"</p>
                </div>
                <a navi_target href="javascript:void(0)" class="emotes">5</a>
                <a navi_target href="javascript:void(0)" data-url="?page=tvtag_moment"></a>
            </div>

            <div class="moment">
                <div class="meta">
                    <span class="comments">20</span>
                </div>

                <img src="/img/tvtagtest1.png">
                <div class="content">
                    <p>Phineas and Ferb think of ideas as for what to do on these vacations</p>
                </div>
                <a navi_target href="javascript:void(0)" class="emotes">40</a>
                <a navi_target href="javascript:void(0)" data-url="?page=tvtag_moment"></a>
            </div>

            <div class="predict normal special">
                <span class="timeleft">
                    <span>60</span>
                </span>
                <span>Predict - 60 seconds left</span>
                <p>Will Perry die in this episode?</p>
                <form id="2774200">
                    <label navi_target>
                        <input type="radio" name="2774200-1" value="1">
                        <span>Yes</span>
                        <span class="votes">
                        </span>
                    </label>
                    <label navi_target>
                        <input type="radio" name="2774200-1" value="2">
                        <span>No</span>
                        <span class="votes">
                        </span>
                    </label>
                </form>
            </div>

            <div class="moment">
                <div class="meta">
                    <span class="comments">20</span>
                </div>

                <img src="/img/tvtagtest1.png">
                <div class="content">
                    <p>Phineas and Ferb think of ideas as for what to do on these vacations</p>
                </div>
                <a navi_target href="javascript:void(0)" class="emotes">20</a>
                <a navi_target href="javascript:void(0)" data-url="?page=tvtag_moment"></a>
            </div>

            <div class="poll">
                <p>Do you think Phineas is homophobic?</p>
                <form id="23452">
                    <label navi_target>
                        <input type="radio" name="23452-1" value="1">
                        <span>Phineas HAS to be homophobic.</span>
                        <span class="votes">
                            18
                            <span></span>
                        </span>
                    </label>
                    <label navi_target>
                        <input type="radio" name="23452-1" value="2">
                        <span>Phineas is not homophobic.</span>
                        <span class="votes">
                            52
                            <span></span>
                        </span>
                    </label>
                    <label navi_target>
                        <input type="radio" name="23452-1" value="3">
                        <span>I hate Phineas</span>
                        <span class="votes">
                            112
                            <span></span>
                        </span>
                    </label>
                </form>
            </div>

            <div class="moment">
                <div class="meta">
                    <span class="comments">1220</span>
                </div>

                <img src="/img/tvtagtest2.png">
                <div class="content">
                    <p>Phineas remembers his experience at an roller coaster and calls it "unamusing"</p>
                </div>
                <a navi_target href="javascript:void(0)" class="emotes">0</a>
                <a navi_target href="javascript:void(0)" data-url="?page=tvtag_moment"></a>
            </div>

            <div class="moment episode-info">
                <div class="meta">
                    <span class="comments">1220</span>
                </div>

                <img src="/img/tvtagtest2.png">
                <div class="content">
                <p class="date">Starts in 30 minutes</p>
                    <p>Phineas and Ferb:
                    <span>Rollercoaster</span>
                </p>

                </div>
                <a navi_target href="javascript:void(0)" class="emotes">0</a>
                <a navi_target href="javascript:void(0)" data-url="?page=tvtag_moment"></a>
            </div>

        </div>

        <div class="right">
            <div class="moment">
                <div class="meta">
                    <span class="comments">20</span>
                </div>

                <img src="/img/tvtagtest1.png">
                <div class="content">
                    <p>Phineas and Ferb think of ideas as for what to do on these vacations</p>
                </div>
                <a navi_target href="javascript:void(0)" class="emotes">0</a>
                <a navi_target href="javascript:void(0)" data-url="?page=tvtag_moment"></a>
            </div>

            <div class="moment">
                <div class="meta">
                    <span class="comments">1220</span>
                </div>

                <img src="/img/tvtagtest2.png">
                <div class="content">
                    <p>Phineas remembers his experience at an roller coaster and calls it "unamusing"</p>
                </div>
                <a navi_target href="javascript:void(0)" class="emotes">909</a>
                <a navi_target href="javascript:void(0)" data-url="?page=tvtag_moment"></a>
            </div>

            <div class="predict incorrect">
                <span class="timeleft">
                    <span>30</span>
                </span>
                <span>You were wrong - Missed 100 points</span>
                <p>Will Ferb finally eat his hotdog with mayonnaise?</p>
                <form id="266452">
                    <label navi_target class="incorrect disabled">
                        <input type="radio" checked name="266452-1" value="1">
                        <span>Yes he will</span>
                        <span class="votes">
                            10%
                        </span>
                    </label>
                    <label navi_target class="correct disabled">
                        <input type="radio" name="266452-1" value="2">
                        <span>I bet he wont!</span>
                        <span class="votes">
                            100%
                        </span>
                    </label>
                    <label navi_target class="disabled">
                        <input type="radio" name="266452-1" value="3">
                        <span>He wouldnt.</span>
                        <span class="votes">
                            62%
                        </span>
                    </label>
                    <label navi_target class="disabled">
                        <input type="radio" name="266452-1" value="4">
                        <span>His dad is hot</span>
                        <span class="votes">
                            18%
                        </span>
                    </label>
                </form>
            </div>

            <div class="moment">
                <div class="meta">
                    <span class="comments">20</span>
                </div>

                <img src="/img/tvtagtest1.png">
                <div class="content">
                    <p>Phineas and Ferb think of ideas as for what to do on these vacations</p>
                </div>
                <a navi_target href="javascript:void(0)" class="emotes">9</a>
                <a navi_target href="javascript:void(0)" data-url="?page=tvtag_moment"></a>
            </div>

            <div class="moment">
                <div class="meta">
                    <span class="comments">20</span>
                </div>

                <img src="/img/tvtagtest1.png">
                <div class="content">
                    <p>Phineas and Ferb think of ideas as for what to do on these vacations</p>
                </div>
                <a navi_target href="javascript:void(0)" class="emotes">4</a>
                <a navi_target href="javascript:void(0)" data-url="?page=tvtag_moment"></a>
            </div>

            <div class="moment">
                <div class="meta">
                    <span class="comments">1220</span>
                </div>

                <img src="/img/tvtagtest2.png">
                <div class="content">
                    <p>Phineas remembers his experience at an roller coaster and calls it "unamusing"</p>
                </div>
                <a navi_target href="javascript:void(0)" class="emotes">8</a>
                <a navi_target href="javascript:void(0)" data-url="?page=tvtag_moment"></a>
            </div>

            <div class="moment">
                <div class="meta">
                    <span class="comments">20</span>
                </div>

                <img src="/img/tvtagtest1.png">
                <div class="content">
                    <p>Phineas and Ferb think of ideas as for what to do on these vacations</p>
                </div>
                <a navi_target href="javascript:void(0)" class="emotes">21</a>
                <a navi_target href="javascript:void(0)" data-url="?page=tvtag_moment"></a>
            </div>

            <div class="moment">
                <div class="meta">
                    <span class="comments">1220</span>
                </div>

                <img src="/img/tvtagtest2.png">
                <div class="content">
                    <p>Phineas remembers his experience at an roller coaster and calls it "unamusing"</p>
                </div>
                <a navi_target href="javascript:void(0)" class="emotes">11</a>
                <a navi_target href="javascript:void(0)" data-url="?page=tvtag_moment"></a>
            </div>

            <div class="moment">
                <div class="meta">
                    <span class="comments">20</span>
                </div>

                <img src="/img/tvtagtest1.png">
                <div class="content">
                    <p>Phineas and Ferb think of ideas as for what to do on these vacations</p>
                </div>
                <a navi_target href="javascript:void(0)" class="emotes">50</a>
                <a navi_target href="javascript:void(0)" data-url="?page=tvtag_moment"></a>
            </div>

            <div class="moment">
                <div class="meta">
                    <span class="comments">1220</span>
                </div>

                <img src="/img/tvtagtest2.png">
                <div class="content">
                    <p>Phineas remembers his experience at an roller coaster and calls it "unamusing"</p>
                </div>
                <a navi_target href="javascript:void(0)" class="emotes">4</a>
                <a navi_target href="javascript:void(0)" data-url="?page=tvtag_moment"></a>
            </div>

            <div class="moment">
                <div class="meta">
                    <span class="comments">20</span>
                </div>

                <img src="/img/tvtagtest1.png">
                <div class="content">
                    <p>Phineas and Ferb think of ideas as for what to do on these vacations</p>
                </div>
                <a navi_target href="javascript:void(0)" class="emotes">1</a>
                <a navi_target href="javascript:void(0)" data-url="?page=tvtag_moment"></a>
            </div>

            <div class="predict long timedout">
                <span class="timeleft">
                    <span>30</span>
                </span>
                <span>Timed out - Missed 120 points</span>
                <p>Next commercial break?</p>
                <form id="2667002">
                    <label navi_target class="disabled">
                        <input type="radio" name="2667002-1" value="1">
                        <span>Coca Cola ad</span>
                        <span class="votes">34%
                        </span>
                    </label>
                    <label navi_target class="disabled">
                        <input type="radio" name="2667002-1" value="2">
                        <span>McDonalds ad</span>
                        <span class="votes">12%
                        </span>
                    </label>
                    <label navi_target class="disabled">
                        <input type="radio" name="2667002-1" value="4">
                        <span>Neither</span>
                        <span class="votes">24%
                        </span>
                    </label>
                </form>
            </div>

            <div class="moment">
                <div class="meta">
                    <span class="comments">1220</span>
                </div>

                <img src="/img/tvtagtest2.png">
                <div class="content">
                    <p>Phineas remembers his experience at an roller coaster and calls it "unamusing"</p>
                </div>
                <a navi_target href="javascript:void(0)" class="emotes">8</a>
                <a navi_target href="javascript:void(0)" data-url="?page=tvtag_moment"></a>
            </div>

            <div class="moment">
                <div class="meta">
                    <span class="comments">1220</span>
                </div>

                <img src="/img/tvtagtest2.png">
                <div class="content">
                    <p>Phineas remembers his experience at an roller coaster and calls it "unamusing"</p>
                </div>
                <a navi_target href="javascript:void(0)" class="emotes">0</a>
                <a navi_target href="javascript:void(0)" data-url="?page=tvtag_moment"></a>
            </div>

            <div class="moment">
                <div class="meta">
                    <span class="comments">1220</span>
                </div>

                <img src="/img/tvtagtest2.png">
                <div class="content">
                    <p>Phineas remembers his experience at an roller coaster and calls it "unamusing"</p>
                </div>
                <a navi_target href="javascript:void(0)" class="emotes">0</a>
                <a navi_target href="javascript:void(0)" data-url="?page=tvtag_moment"></a>
            </div>

            <div class="predict waiting-correct">
                <span class="timeleft">
                    <span>30</span>
                </span>
                <span>Predict - Waiting for correct answer</span>
                <p>Does Ferb have the rizz?</p>
                <form id="676002">
                    <label navi_target class="prediction disabled">
                        <input type="radio" checked name="676002-1" value="1">
                        <span>Yeah</span>
                        <span class="votes">
                        </span>
                    </label>
                    <label navi_target class="disabled">
                        <input type="radio" name="676002-1" value="2">
                        <span>On Diddy</span>
                        <span class="votes">
                        </span>
                    </label>
                    <label navi_target class="disabled">
                        <input type="radio" name="676002-1" value="3">
                        <span>Nah</span>
                        <span class="votes">
                        </span>
                    </label>
                    <label navi_target class="disabled">
                        <input type="radio" name="676002-1" value="4">
                        <span>Perry does</span>
                        <span class="votes">
                        </span>
                    </label>
                </form>
            </div>
        </div>

    </div>

</div>
